* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

/* ============================================================================== */
/* Bootstrap -Modificacion de estilos*/
/* ============================================================================== */
.sheld-logo {
  display: none;
}

.navbar-burger {
  display: none;
  margin-top: 10px;
  margin-right: 16px;
}
.navbar-burger .btn {
  color: white !important;
  width: 50px !important;
}
.navbar-burger .btn:hover {
  color: #FD2B73 !important;
}

.menu-inferior-mobil {
  display: none;
}

.offcanvas-header {
  background-color: #04113D;
  text-align: center !important;
}
.offcanvas-header .btn-close {
  color: white !important;
}

.offcanvas-body {
  background-color: #ecf9fc;
}
.offcanvas-body > ul {
  list-style: none;
}
.offcanvas-body > li {
  text-decoration: none;
}
.offcanvas-body > a {
  color: black;
}
.offcanvas-body .links-burger li {
  padding-top: 10px;
}
.offcanvas-body .links-burger .links-redes-burger > h4 {
  height: 10px;
  margin-top: 16px;
  color: #6c9be2;
}
.offcanvas-body .links-burger .links-redes-burger > ul {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-left: 0;
  width: 20px;
}
.offcanvas-body .links-burger .links-redes-burger > li {
  height: 20px !important;
  font-size: 12px;
}

.btn-close {
  color: white !important;
  fill: white !important;
}

/* ============================================================================== */
/* Header left- Estilo general y Logo
/* ============================================================================== */
header {
  background-color: #04113D;
  color: white;
  height: 65px;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
header .headerLeft {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}
header .logo {
  font-family: "Lobster", cursive;
  align-items: normal;
  text-decoration: none;
  margin: 5px 0;
}
header .logo img {
  height: 50px;
  padding: 0;
  margin-left: 16px;
}

/* ============================================================================== */
/* Header left- SearchBar*/
/* ============================================================================== */
.search-bar {
  background-color: white;
  border: solid 1px #ccc;
  border-radius: 20px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}
.search-bar:focus-within {
  border: 1px #6c9be2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.search-bar input[type=text] {
  border: none;
  outline: none;
  padding: auto;
  flex: 1;
  font-size: 16px;
}
.search-bar .actions {
  display: flex;
  gap: 5px;
}
.search-bar .actions button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #999;
  transition: color 0.3s ease-in-out;
}
.search-bar .actions button:hover {
  color: #2979e2;
}

/* ============================================================================== */
/* Header rigth- Redes Sociales*/
/* ============================================================================== */
.redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
}

.redes-full ul li {
  list-style: none;
}
.redes-full img:hover {
  border: 1px yellow;
}

.logosRedes {
  text-decoration: none;
  height: 25px;
  margin: 20px 5px;
}

/* ============================================================================== */
/* Navbar - links*/
/* ============================================================================== */
.navbar-desktop {
  display: flex;
  position: relative;
  background: #04113D;
  justify-content: center;
  align-items: center;
}
.navbar-desktop li {
  display: inline-block;
  font-size: 15px;
}
.navbar-desktop a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 20px;
}
.navbar-desktop a:hover {
  background: #6c9be2;
  color: black;
}

.links {
  list-style: none;
  margin: 0;
}

/* ============================================================================== */
/* Navbar - derecho >> Login - favoritos - compras*/
/* ============================================================================== */
.botLeft {
  position: absolute;
  right: 0;
}

#usEdit {
  padding: 0;
  margin: 0 5px;
}

.usuario {
  padding: 0;
}

/* ============================================================================== */
/* Seccion novedades y Ofertas - disposicion Flexbox*/
/* ============================================================================== */
.container-novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container-novedades > h1 {
  font-size: 24px;
}

.container-ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.tituloSeccion {
  margin: 16px;
  left: 0;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
}

.productos {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}
.productos > li > div {
  border: 1px solid rgba(221, 221, 221, 0.8666666667);
  border-radius: 5px;
  position: relative;
  background: #F7F9FD;
  width: 263px;
}
.productos > li > div:hover {
  border-color: #FD2B73;
}
.productos > li > div img {
  background: #ffffff;
  border-radius: 5px;
  margin: auto;
}

.content {
  padding: 10px;
}
.content .tituloArticulo {
  color: #404751;
  height: 80px;
}
.content .tituloArticulo h4 {
  font-size: 18px;
}
.content .precio {
  color: #3C8EEE;
  font-size: 14px;
  min-height: 40px;
}
.content .stock {
  font-size: 14px;
  color: #404751;
  height: 28px;
}
.content .codigo {
  font-size: 14px;
  color: #404751;
  height: 28px;
}

.promoNuevo {
  background-color: #3C8EEE;
  font-size: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
}

.promoOferta {
  background-color: #FD2B73;
  font-size: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding-top: 12px;
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
}

/* ============================================================================== */
/* Seccion Marcas*/
/* ============================================================================== */
.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center !important;
  text-align: center;
}
.container ul li {
  list-style: none;
}
.container ul li a {
  text-decoration: none;
}

/* ============================================================================== */
/* Main Login */
/* ============================================================================== */
.body-login {
  background-image: url(../assets/img/background/gradient.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.main-login {
  width: 100%;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.contenedor__todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}

.caja__trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(58, 38, 59, 0.5);
}
.caja__trasera div {
  margin: 100px 40px;
  color: white;
  transition: all 500ms;
}
.caja__trasera div p {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 300;
}
.caja__trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}
.caja__trasera button {
  margin-top: 30px;
  padding: 10px 40px;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 14px;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
  transition: all 300ms;
}
.caja__trasera button:hover {
  background: #fff;
  color: #46A2FD;
}

.contenedor__login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -185px;
  left: 10px;
  transition: left 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.contenedor__login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #04113D;
  position: absolute;
  border-radius: 30px;
}
.contenedor__login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}
.contenedor__login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #F2F2F2;
  font-size: 16px;
  outline: none;
}
.contenedor__login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  border-radius: 40px;
  font-size: 14px;
  background: #46A2FD;
  font-weight: 600;
  cursor: pointer;
  color: white;
  outline: none;
}

.formulario__login {
  opacity: 1;
  display: block;
}

.formulario__register {
  display: none;
}

.border-card {
  width: 70%;
  border: 10px !important;
  border-radius: 20px;
}

#cke_pastebin {
  text-align: justify;
}

/* ============================================================================== */
/* Footer*/
/* ============================================================================== */
footer {
  font-family: "Open Sans", Arial, sans-serif;
  background: #04113D;
  color: white;
  margin-top: 30px;
  padding-top: 20px;
  overflow: hidden;
}
footer img {
  height: 80px;
}
footer > div {
  margin: 10px;
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: white;
}
footer > .infoLogo {
  font-size: 14px;
}
footer h3 {
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 10px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.central-reference > p {
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-justify: auto;
}

.mediosPago p {
  font-size: 12px;
}

.centralGaming > ul li {
  font-size: 14px;
  padding: 5px 0;
}

.ayuda > ul li {
  font-size: 14px;
  padding: 5px 0;
}

.redesSociales > div a {
  font-size: 12px;
}

.redes-footer {
  display: flex;
  align-items: center;
}

.copyright {
  color: white;
  font-size: 14px;
  text-align: center;
}
.copyright > p {
  margin: 0 !important;
  padding: 0;
}

/* ============================================================================== */
/* Media Queries - Resoluciones donde se rompe el codigo*/
/* Se usaron las resoluciones: 1135px xq se rompe el codigo a partir de ahi)*/
/*resolucion: 768px, 425px (a partir de esta resolucion el codigo funciona 
en moviles de menores resoluciones,porque se adapta*/
/* ============================================================================== */
@media screen and (max-width: 1135px) {
  .productos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    font-family: "Open Sans", Arial, sans-serif;
  }
}
/* ============================================================================== */
@media screen and (max-width: 850px) {
  .caja__trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .caja__trasera div {
    margin: 0px;
    position: absolute;
  }
  .contenedor__login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .contenedor__login-register form {
    position: relative;
  }
}
/* ============================================================================== */
@media screen and (max-width: 768px) {
  .search-bar {
    display: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  body {
    position: relative;
  }
  .menu-inferior-mobil {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    position: sticky;
    bottom: 0;
    z-index: 1;
  }
  .material-icons {
    font-size: 30px;
  }
  .logo-full {
    display: none;
  }
  .redes-full {
    display: none;
  }
  .navbar-desktop {
    display: none;
  }
  .navbar-burger {
    display: block;
  }
  .sheld-logo {
    display: block;
  }
  .productos {
    margin: 0 !important;
    padding: 0 !important;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-family: "Open Sans", Arial, sans-serif;
  }
}
/* ============================================================================== */
@media screen and (max-width: 563px) {
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .logo-full {
    display: none;
  }
  .sheld-logo {
    display: block;
  }
  .productos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr;
    gap: 10px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
  }
  .redes-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* ============================================================================== */
@media screen and (max-width: 425px) {
  header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .logo-full {
    display: none;
  }
  .sheld-logo {
    display: block;
  }
  .productos {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: 1fr;
    gap: 10px;
    font-family: "Open Sans", Arial, sans-serif;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
  }
  .redes-footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* ============================================================================== */
@media screen and (max-width: 375px) {
  .headerLeft .search-bar {
    display: none;
  }
  .offcanvas-body > .search-bar {
    display: block;
    height: 40px;
  }
  .offcanvas-body .search-bar:focus-within {
    border: 1px #6c9be2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .offcanvas-body .search-bar input[type=text] {
    border: none;
    outline: none;
    padding: auto;
    flex: 1;
    font-size: 16px;
  }
  .offcanvas-body .search-bar .actions {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .offcanvas-body .search-bar .actions button {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #999;
    transition: color 0.3s ease-in-out;
  }
  .offcanvas-body .search-bar .actions button:hover {
    color: #2979e2;
  }
  .search-bar {
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 16px;
    margin-left: 20px;
    transition: 0.3s ease-in-out;
    position: relative;
  }
}/*# sourceMappingURL=main.css.map */