$color_1: white;
$color_2: #FD2B73;
$color_3: black;
$color_4: #6c9be2;
$color_5: #999;
$color_6: #2979e2;
$color_7: #404751;
$color_8: #3C8EEE;
$color_9: #46A2FD;
$font-family_1: 'Segoe UI', Tahoma, Verdana, sans-serif;
$font-family_2: 'Material Icons';
$font-family_3: 'Lobster', cursive;
$font-family_4: 'Open Sans',Arial, sans-serif;
$background-color_1: #ecf9fc;
$background-color_2: #04113D;
$background-color_3: white;
$background-color_4: #3C8EEE;
$background-color_5: #FD2B73;
$background-color_6: rgba(58, 38, 59, 0.5);
$border-color_1: #FD2B73;